<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 3 years of experience as a software engineer and I currently work with <a href="https://www.gigm.com/" target="_blank">GIGM</a> as a mobile developer. 
            As a proficient software developer, my expertise is in building iOS applications using Swift, SwiftUI and Flutter. I also engage in backend development using GoLang and at my leisure time, I learn Solidity. I am also a very experienced technical mentor and tutor.
            You can check out <a href ="https://docs.google.com/document/d/1kzWmdo6jadfsG2LIrCA5_Xq73HT5eMZKOdnr_xQ8Eu0/view" target="_blank">my resume</a>.
        </p>
      </div>
	    <div class="col-sm-6">
        <h3 style="margin-top:0;">Work History</h3>
        <ul>
          <li>Mobile Developer (iOS), <a href="https://www.gigm.com" target="\_blank">GIGM</a><br>
            December, 2021 - Present.</li>
          <li>Associate Software Engineer, <a href="https://decagonhq.com" target="\_blank">Decagon Software Institute</a><br>
              July, 2021 - December 2021.</li>
          <li>Software Engineer, <a href="http://joincolab.io" target="\_blank">Co.Lab</a><br>
                September, 2021 - November, 202.</li>
          <li>Software Engineer, <a href="https://decagonhq.com" target="\_blank">Decagon Software Institute</a><br>
                  January, 2021 - July, 2021.</li>
          <li>Software Engineer, Atom Technologies<br>
            April, 2020 - December, 2020.</li>
          <li>Software Engineer, Auptsoft Tech<br>
            January, 2019 - March, 2020.</li>

        </ul>
	    </div>
    </div>
  </div>
</section>
