<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>PROJECTS</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
	
				<li>
				 <b>Data Structures & Algorithms</b>: I spend some of my leisure hours studying  i improve on my data structure and algorithm skills, trying to develop more efficient code.
			  	</li>
				<li>
					<b>Music</b>: I am a strong lover of music as it helps calm me and aids my concentration.
				</li>
				 <li>
				  <b>Football</b>: I spend some of my free time, mostly weekends playing football.
      			</li>
				<li>
					<b>Reading</b>: When I am not coding, relaxing or engaging in one exercise or another, I tend to spend my time reading. I read stuff varying from new programming concepts to stuff totally unrelated to programming.
				</li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
			  
			<li>
          	Built GIGM Corporate, a mobile app where companies can book buses for travelling, pay utility bills and even hire vehicles for employees. (<a href="https://apps.apple.com/ng/app/gigm-corporate/id1612596202" target="_blank">Available on the AppStore</a>).
    		</li>
			  
			<li>
          	GIG Mobility, a version of the GIG app for individuals. I'm in charge maintaining and building new features for this app (<a href="https://apps.apple.com/ng/app/gigm-ep/id1553026252" target="_blank">Available on the AppStore</a>).
    		</li>
			  
			<li>
          	Built UNEE, An app that helps students manage their time and tasks appropriately. (<a href="https://apps.apple.com/ng/app/unee/id1609226712" target="_blank">Available on the AppStore</a>).
    		</li>
			  
			<li>
			GIGM EP, An app that helps GIGM Enterprise Partners manage daily activities of their fleet registered. I'm in charge maintaining and building new features for this app (<a href="https://apps.apple.com/ng/app/gigm-ep/id1553026252" target="_blank">Available on the AppStore</a>).
			</li>

  			<li>
			Built Foodie, a food ordering app where users can order for meals. Built using the MVC Architecture with Glitch as a backend host. (<a href="https://github.com/omokagbo/Foodie" target="_blank">Available on Github</a>).
    		</li>
			  
			  <li>
			Also built Foodly, another food ordering app where users can order for meals. Built using the MVVM Architecture with Firebase as backend (<a href="https://github.com/omokagbo/Foodly" target="_blank">Available on Github</a>).
    		</li>
			  
			  <li>
				Check out my other projects on <a href = "https://github.com/omokagbo" target="_blank">github</a>
			  </li>
  			
		   </ul>
      </div>
    </div>
  </div>
</section>
